@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.rectangle-header {
  top: 0;
  background-color: #fff;
  height: 100px;
}
.hero-image-icon,
.noise-icon,
.rectangle-header {
  position: absolute;
  left: 0;
  width: 1728px;
}
.noise-icon {
  top: 0;
  height: 5817px;
  opacity: 0.1;
}
.hero-image-icon {
  top: 100px;
  height: 1017px;
  object-fit: cover;
}
.large-heading-for-the-hero-sec {
  margin: 0;
  position: absolute;
  top: 460px;
  left: 140px;
  font-size: 53px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 900;
  font-family: inherit;
  color: #fff;
  display: inline-block;
  width: 592px;
  height: 131px;
}
.two-line-as-paragrapg-for-the {
  margin: 0;
  position: absolute;
  top: 599px;
  left: 140px;
  letter-spacing: 0.04em;
  line-height: 160%;
  color: #000;
  display: inline-block;
  width: 469px;
  height: 59px;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #d90429;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 164px;
  height: 50px;
}
.call-to-action {
  position: absolute;
  top: 14px;
  left: 18px;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 160%;
  font-weight: 600;
  font-family: Montserrat;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 674px;
  left: 140px;
  width: 164px;
  height: 50px;
}
.about-label,
.silvan-seven-sisters-pvt-ltd {
  position: absolute;
  top: 1165px;
  line-height: 120%;
  display: inline-block;
}
.about-label {
  left: 140px;
  font-size: 22px;
  font-weight: 600;
  color: gray;
}
.silvan-seven-sisters-pvt-ltd {
  margin: 0;
  left: 629px;
  font-size: 34px;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-family: inherit;
  width: 959px;
  height: 84px;
}
.pulvinar-quis-quis-sit-id-nunc,
.pulvinar-quis-quis-sit-id-nunc1 {
  margin: 0;
  position: absolute;
  top: 1273px;
  left: 629px;
  letter-spacing: 0.02em;
  line-height: 160%;
  font-family: Poppins;
  display: inline-block;
  width: 426px;
  height: 240px;
}
.pulvinar-quis-quis-sit-id-nunc1 {
  left: 1119px;
}
.rectangle-icon,
.rectangle-icon1 {
  position: absolute;
  top: 1633px;
  left: 140px;
  width: 714px;
  height: 213px;
  object-fit: cover;
}
.rectangle-icon1 {
  left: 874px;
}
.mt-h1,
.mt-h11 {
  margin: 0;
  position: absolute;
  top: 1708px;
  left: 911px;
  font-size: 53px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.mt-h11 {
  top: 1963px;
}
.of-pineapple-and-jackfruits-ge,
.of-pineapple-and-jackfruits-ge1 {
  margin: 0;
  position: absolute;
  top: 1682px;
  left: 1110px;
  letter-spacing: 0.02em;
  line-height: 160%;
  display: inline-block;
  width: 440px;
  height: 127px;
  font-family: Poppins;
}
.of-pineapple-and-jackfruits-ge1 {
  top: 1937px;
}
.rectangle-icon2,
.rectangle-icon3 {
  position: absolute;
  top: 1894px;
  left: 140px;
  width: 714px;
  height: 213px;
  object-fit: cover;
}
.rectangle-icon3 {
  left: 874px;
}
.mt-h12,
.mt-h13 {
  margin: 0;
  position: absolute;
  top: 1708px;
  left: 186px;
  font-size: 53px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.mt-h13 {
  top: 1963px;
}
.of-pineapple-and-jackfruits-ge2,
.of-pineapple-and-jackfruits-ge3 {
  margin: 0;
  position: absolute;
  top: 1682px;
  left: 385px;
  letter-spacing: 0.02em;
  line-height: 160%;
  display: inline-block;
  width: 440px;
  height: 127px;
  font-family: Poppins;
}
.of-pineapple-and-jackfruits-ge3 {
  top: 1937px;
}
.about-us {
  left: 611px;
  opacity: 0;
}
.about-us.animate,
.projects-a.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.about-us,
.projects-a,
.services-a,
.upcoming-events-a {
  text-decoration: none;
  position: absolute;
  top: 40px;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 170%;
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.projects-a {
  left: 740px;
  opacity: 0;
}
.services-a,
.upcoming-events-a {
  left: 862px;
}
.upcoming-events-a {
  left: 984px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 3px 3px;
  background-color: #d90429;
  width: 102px;
  height: 129px;
}
.contact-us-div {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 170%;
  font-weight: 600;
  font-family: Montserrat;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.group-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 1486px;
  width: 102px;
  height: 129px;
}
.silvan-seven-sisters-pvt-ltd1 {
  margin: 0;
  position: absolute;
  top: 2215px;
  left: 629px;
  font-size: 34px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 959px;
  height: 84px;
}
.pulvinar-quis-quis-sit-id-nunc2,
.pulvinar-quis-quis-sit-id-nunc3 {
  margin: 0;
  position: absolute;
  top: 2323px;
  left: 629px;
  letter-spacing: 0.02em;
  line-height: 160%;
  font-family: Poppins;
  display: inline-block;
  width: 426px;
  height: 230px;
}
.pulvinar-quis-quis-sit-id-nunc3 {
  left: 1119px;
  height: 119px;
}
.rectangle-icon4 {
  position: absolute;
  top: 2215px;
  left: 140px;
  width: 347px;
  height: 440px;
}
.and-to-solve-and-make-use-of-a,
.projects-label {
  position: absolute;
  top: 2775px;
  line-height: 120%;
  display: inline-block;
}
.projects-label {
  left: 140px;
  font-size: 22px;
  font-weight: 600;
  color: gray;
}
.and-to-solve-and-make-use-of-a {
  margin: 0;
  left: 629px;
  font-size: 34px;
  letter-spacing: -0.04em;
  font-weight: 700;
  width: 959px;
  height: 84px;
}
.rectangle-icon5 {
  top: 3435px;
  left: 141px;
  width: 469px;
  height: 306px;
}
.group-icon,
.h1,
.rectangle-icon5 {
  position: absolute;
}
.h1 {
  margin: 0;
  top: 3428px;
  left: 1397px;
  font-size: 250px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  -webkit-text-stroke: 1px gray;
}
.group-icon {
  top: 3356.25px;
  left: 140px;
  width: 1448px;
  height: 442.75px;
  object-fit: cover;
}
.food-processing-unit-powder,
.pulvinar-quis-quis-sit-id-nunc4,
.pulvinar-quis-quis-sit-id-nunc5 {
  margin: 0;
  position: absolute;
  top: 3525px;
  left: 630px;
  letter-spacing: 0.02em;
  line-height: 160%;
  font-family: Poppins;
  display: inline-block;
  width: 714px;
  height: 91px;
}
.food-processing-unit-powder,
.pulvinar-quis-quis-sit-id-nunc5 {
  top: 3624px;
}
.food-processing-unit-powder {
  top: 3405px;
  font-size: 34px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  width: 470px;
  height: 84px;
}
.know-more-div {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 170%;
  font-weight: 600;
  font-family: Montserrat;
  color: #d90429;
  text-align: left;
  display: inline-block;
}
.arrow-down-left-icon {
  position: absolute;
  top: 0;
  left: 105px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.know-more-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3739px;
  left: 630px;
  width: 137px;
  height: 32px;
}
.h11 {
  margin: 0;
  position: absolute;
  top: 2970px;
  left: 186px;
  font-size: 250px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  -webkit-text-stroke: 1px gray;
}
.group-icon1 {
  position: absolute;
  top: 2898.25px;
  left: 140px;
  width: 1448px;
  height: 442.75px;
  object-fit: cover;
}
.rectangle-icon6 {
  position: absolute;
  top: 2976px;
  left: 1119px;
  width: 469px;
  height: 306px;
}
.food-processing-unit-powder1,
.pulvinar-quis-quis-sit-id-nunc6,
.pulvinar-quis-quis-sit-id-nunc7 {
  margin: 0;
  position: absolute;
  top: 3066px;
  left: 385px;
  letter-spacing: 0.02em;
  line-height: 160%;
  font-family: Poppins;
  display: inline-block;
  width: 714px;
  height: 91px;
}
.food-processing-unit-powder1,
.pulvinar-quis-quis-sit-id-nunc7 {
  top: 3165px;
}
.food-processing-unit-powder1 {
  top: 2946px;
  font-size: 34px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  width: 470px;
  height: 84px;
}
.know-more-btn1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3280px;
  left: 385px;
  width: 137px;
  height: 32px;
}
.h12 {
  margin: 0;
  position: absolute;
  top: 3886px;
  left: 186px;
  font-size: 250px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  -webkit-text-stroke: 1px gray;
}
.group-icon2 {
  position: absolute;
  top: 3814.25px;
  left: 140px;
  width: 1448px;
  height: 442.75px;
  object-fit: cover;
}
.rectangle-icon7 {
  position: absolute;
  top: 3879px;
  left: 1119px;
  width: 469px;
  height: 306px;
}
.pulvinar-quis-quis-sit-id-nunc8,
.pulvinar-quis-quis-sit-id-nunc9,
.rubber-band-for-commercial-a {
  margin: 0;
  position: absolute;
  top: 3969px;
  left: 385px;
  letter-spacing: 0.02em;
  line-height: 160%;
  font-family: Poppins;
  display: inline-block;
  width: 714px;
  height: 91px;
}
.pulvinar-quis-quis-sit-id-nunc9,
.rubber-band-for-commercial-a {
  top: 4068px;
}
.rubber-band-for-commercial-a {
  top: 3849px;
  font-size: 34px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  width: 520px;
  height: 84px;
}
.know-more-btn2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4183px;
  left: 385px;
  width: 137px;
  height: 32px;
}
.a-team-of-experiences-professi,
.team-label {
  position: absolute;
  top: 4377px;
  line-height: 120%;
  display: inline-block;
}
.team-label {
  left: 140px;
  font-size: 22px;
  font-weight: 600;
  color: gray;
}
.a-team-of-experiences-professi {
  margin: 0;
  left: 629px;
  font-size: 34px;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-family: inherit;
  width: 959px;
  height: 165px;
}
.line-icon,
.line-icon1 {
  position: absolute;
  top: 5154px;
  left: 140px;
  width: 1448px;
  height: 1px;
  object-fit: cover;
}
.line-icon1 {
  top: 5571px;
}
.dr-biswajit-banerjee {
  position: absolute;
  left: 140px;
  display: inline-block;
}
.dr-biswajit-banerjee,
.vaibhav-banerjee-label,
.vivek-banerjee-label {
  top: 5032px;
  font-size: 22px;
  line-height: 120%;
  font-weight: 600;
  color: #000;
}
.vivek-banerjee-label {
  position: absolute;
  left: 507px;
  display: inline-block;
}
.vaibhav-banerjee-label {
  left: 874px;
}
.avinash-dubay-label,
.chairman-p,
.vaibhav-banerjee-label {
  position: absolute;
  display: inline-block;
}
.avinash-dubay-label {
  top: 5032px;
  left: 1241px;
  font-size: 22px;
  line-height: 120%;
  font-weight: 600;
  color: #000;
}
.chairman-p {
  left: 140px;
}
.chairman-p,
.director-p,
.director-p1 {
  margin: 0;
  top: 5066px;
  letter-spacing: 0.02em;
  line-height: 160%;
  font-family: Poppins;
  color: #000;
}
.director-p {
  position: absolute;
  left: 507px;
  display: inline-block;
}
.director-p1 {
  left: 874px;
}
.address-label,
.contact-us-label,
.director-p1,
.p {
  position: absolute;
  display: inline-block;
}
.p {
  margin: 0;
  top: 5066px;
  left: 1241px;
  letter-spacing: 0.02em;
  line-height: 160%;
  font-family: Poppins;
  color: #000;
}
.address-label,
.contact-us-label {
  top: 5275px;
  left: 140px;
  font-size: 22px;
  line-height: 120%;
  font-weight: 600;
  color: gray;
}
.address-label {
  left: 923px;
  color: #000;
}
.tanti-para-natun {
  margin-block-start: 0;
  margin-block-end: 0;
}
.tripura-799009 {
  margin: 0;
}
.tanti-para-natun-nagar-agart {
  margin: 0;
  position: absolute;
  top: 5275px;
  left: 1111px;
  font-size: 34px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  color: #000;
  display: inline-block;
}
.phone-label {
  top: 5414px;
  left: 923px;
  font-size: 22px;
  font-weight: 600;
}
.email-label,
.h2,
.infosilvansevensisterscom-h2,
.phone-label {
  position: absolute;
  line-height: 120%;
  color: #000;
  display: inline-block;
}
.h2 {
  margin: 0;
  top: 5414px;
  left: 1111px;
  font-size: 34px;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-family: inherit;
}
.email-label,
.infosilvansevensisterscom-h2 {
  top: 5471px;
  left: 923px;
  font-size: 22px;
  font-weight: 600;
}
.infosilvansevensisterscom-h2 {
  margin: 0;
  left: 1111px;
  font-size: 34px;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-family: inherit;
}
.logo-name-1 {
  position: absolute;
  top: 31px;
  left: 140px;
  width: 162px;
  height: 52px;
  overflow: hidden;
}
.larg-logo-s7s-1 {
  position: absolute;
  top: 5630px;
  left: 800px;
  width: 128px;
  height: 128px;
}
.rectangle-icon10,
.rectangle-icon11,
.rectangle-icon8,
.rectangle-icon9 {
  position: absolute;
  top: 4562px;
  left: 140px;
  width: 346px;
  height: 450px;
  object-fit: cover;
}
.rectangle-icon10,
.rectangle-icon11,
.rectangle-icon9 {
  left: 508px;
}
.rectangle-icon10,
.rectangle-icon11 {
  left: 876px;
}
.rectangle-icon11 {
  left: 1244px;
}
.home-sample-1-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 5817px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #242424;
  font-family: Montserrat;
}
